.api-table {
  width: 100%;
  background: $dark;
  font-size: 0.8rem;
  @include large-screen {
    width: 70%;
    margin-top: 5rem;
  }
  th,
  td {
    padding: 0.5rem;
    color: $light;
  }
  tbody tr:nth-child(odd) {
    background-color: lighten($dark, 20%);
  }

  tbody tr:nth-child(even) {
    background-color: lighten($dark, 10%);
  }
  a {
    color: $light;
    text-decoration: none;
  }
}
